.footer__top {
    background-color: #485769;
    height: 100px;
    padding-top: 1px;
}

.footer__top:hover {
    background-color: #485769;
    height: 100px;
    padding-top: 1px;
    opacity: 0.8;
}

.footer__arrow {
    font-size: 50px;
    color : white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    opacity: 0.6;
}

.footer__arrow:hover {
    font-size: 65px;
    opacity: 0.6;
}

.footer__middle__row {
    background-color: #232f3e;
    color : white;
    width: 100%;
    margin-bottom: 1px;
    margin : 0 auto auto 1;
    padding : 1% 0 3% 30%;
}

.footer__middle__col {
    display: table-cell;
    padding: 1% 0 1% ;
    line-height: 19px;
}

.footer__middle__title {
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
}

.footer__middle__col > ul {
    list-style: none;
    margin : 0;
    padding-left: 6%;

}



.footer__bottom {
    background-color: #232f3e;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding : 2% 0 0 0;
}

.footer__image {
    width: 7%;
    height: 50px;
}


.footer__bottom > p {
    color : white;
    padding-left: 1%;
    font-size: 18px;
}